<a href="<%= background %>" class="containerProductHero">
  <img class="containerProductHeroImageBackground" src="<%= background %>" />
  <div class="containerProductHeroBrandText">
    <img class="containerProductHeroImgIcon" src="<%= icon %> " />
    <div class="containerText">
      <p>
        <strong> <%= title %> </strong>
        <br />
        <%= description %>
      </p>
    </div>
  </div>
</a>
