<html>
  <%- include('../partials/head') %>
  <body class="body-cart">
    <div>
      <%- include('../partials/header', {showBar: true}) %> <% let price,
      priceTotal = 0, cant = 1 %>
      <main class="main main-cart">
        <% if (products.length != 0){ %>
        <a class="back-link" href="/">
          <i class="fas fa-arrow-left"></i> Volver
        </a>
        <section class="cart">
          <p class="title-cart">Productos en tu Carrito</p>
          <% products.forEach(producto => { %>
          <article class="article-cart">
            <div class="product-cart">
              <img
                src="<%= producto.image %>"
                class="img-cart"
                id="product-<%= producto._id %>"
              />
              <p class="product-name-cart"><%= producto.title %></p>
            </div>
            <div class="manage-cart">
              <button class="delete-button button-cart">Quitar</button>
              <div class="cant-bar">
                <button class="edit-cant" id="minus-cant">
                  <i class="fas fa-minus"></i>
                </button>
                <p><%= producto.qty %></p>
                <button class="edit-cant" id="plus-cant">
                  <i class="fas fa-plus"></i>
                </button>
              </div>
              <% price = producto.qty * producto.price %>
              <strong class="price-cart"><%= price.toLocaleString() %></strong>
              <% priceTotal += price %>
            </div>
          </article>
          <% }) %>
          <form action="/" method="get" class="discount-cart">
            <label for="discount" class="discount">
              Ingrese su código de descuento!
            </label>
            <input
              type="text"
              class="input-discount"
              name="input-discount"
              id="input-discount"
              placeholder="Ingrese su código"
            />
            <button class="validate-discount button-cart">Validar</button>
          </form>
          <div class="points-cart">
            <p>Total de Puntos SuperClub</p>
            <strong class="price-total-cart"
              ><%= priceTotal.toLocaleString() %>
            </strong>
          </div>
          <a href="/checkout" class="buy-button button-cart btn-lr"
            >Ir a pagar</a
          >
        </section>
        <% } else { %>
        <h2 class="notfound-title">
          Todavía no agregaste productos a tu carrito!
        </h2>
        <a href="/" class="btn-home">Volver a home</a>
        <%- include('../partials/productGroup', {productos:
        productos.slice(0,5),title:"También te puede interesar"}) %> <% } %>
      </main>
    </div>
    <%- include('../partials/footer') %>
  </body>
</html>
