<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <div>
      <%- include('../partials/header', {showBar: false}) %>
      <main class="main">
        <div class="red-rectangle"></div>
        <form action="/login" method="post" class="login-container">
          <h2>¡Hola!</h2>
          <input type="email" placeholder="Tu email" name="email" value="<%=
          locals.old && old.email ? old.email : "" %>" /> <% if (locals.errors
          && locals.errors["email"]) { %>
          <p class="warning-text"><%= errors["email"].msg %></p>
          <% } %>

          <input
            type="password"
            placeholder="Tu contraseña"
            name="user_password"
          />

          <% if (locals.errors && locals.errors["password"]) { %>
          <p class="warning-text"><%= errors["password"].msg %></p>
          <% } %>

          <button>Iniciar Sesión</button>
        </form>
        <div class="question">
          <a href="/register"
            >¿No tienes cuenta? <span class="underline">Regístrate</span></a
          >
        </div>
      </main>
    </div>
    <%- include("../partials/footer") %>
  </body>
</html>
