<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <div>
      <%- include('../partials/header', {showBar: false,
      showSantanderLogo:false}) %>
      <main class="main">
        <div class="red-rectangle"></div>
        <form action="/login" method="post" class="login-container">
          <h2>¡Hola!</h2>
          <div class="contenedor-input-login"><input class="login-input"id="login-email" type="email" placeholder="Tu email" name="email" value="<%=
          locals.old && old.email ? old.email : "" %>" /><p class="login-warning"></p></div> <% if (locals.errors
          && locals.errors["email"]) { %>
          <p class="warning-text"><%= errors["email"].msg %></p>
          <% } %>
          <div class="contenedor-input-login">
          <input class="login-input" type="password" placeholder="Tu contraseña" name="password" />
            </div>
          <% if (locals.errors && locals.errors["password"]) { %>
          <p class="warning-text"><%= errors["password"].msg %></p>
          <% } %>

          <button id="button-session">Iniciar Sesión</button>
        </form>
        <div class="question">
          <a href="/register">¿No tienes cuenta? <span class="underline">Regístrate</span></a>
        </div>
        <%- include("../partials/errorLogin.ejs") %> 
      </main>
    </div>
    <%- include("../partials/footer") %>
  </body>
</html>
