<!DOCTYPE html>
<html lang="en">
  <!-- <link rel="stylesheet" href="/styles/productID.css" /> -->
  <%- include('../partials/head') %>
  <body class="body">
    <%- include('../partials/header', {showBar: true}) %>
    <main class="homenico">
      <div class="ruta">
        <a href="/"><i class="fas fa-arrow-left"></i> Volver al listado</a>
        <a href="#"
          ><i class="fas fa-chevron-right"></i> <%- producto.category %>
        </a>
      </div>
      <section class="producto">
        <div class="mini-imgs">
          <img
            class="recortada currentSelect"
            width="48px"
            height="48px"
            src="<%- producto.image %>"
            onerror="imagenError(this)"
            onclick="changeImage(this)"
          />
          <% producto.gallery.forEach(img => { %>
          <img
            class="recortada"
            width="48px"
            height="48px"
            src="<%- img %> "
            onclick="changeImage(this)"
            onerror="imagenError(this)"
          />
          <% }) %>
        </div>
        <div class="imagenContainerProduct">
          <img
            src="<%- producto.image %> "
            class="imagengrande"
            onerror="imagenError(this)"
          />
        </div>
        <div class="productodescripto">
          <div class="nombre">
            <%- producto.title.replace(/un/i,"Unidades") %>
          </div>
          <div class="puntoyprecio">
            <strong class="precio"
              ><%- producto.price.toLocaleString() %>
            </strong>
            <div class="puntos">PUNTOS <br />SUPERCLUB</div>
          </div>
          <a href="/cart" class="btn-agregar">Agregar al Carrito</a>

          <div class="descripcion">
            <p><%- producto.description %></p>
          </div>
        </div>
      </section>
      <%- include('../partials/productGroup', {productos:
      productos,title:"También te puede interesar"}) %> <%-
      include('../partials/categoriesMenu') %>
    </main>
    <%- include('../partials/footer')%>
  </body>
  <script>
    function imagenError(source) {
      source.src = '/img/not_found.png'
      source.onerror = ''
      return true
    }
    const ImagenGrande = document.querySelector('.imagengrande')
    const changeImage = (source) => {
      const prevSelection = document.querySelector('.currentSelect')
      ImagenGrande.src = source.src
      prevSelection.classList.remove('currentSelect')
      source.classList.add('currentSelect')
    }
  </script>
</html>
