<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header', {showBar: true}) %>
    <main class="mainHome">
      <%- include("../partials/categoriesMenu.ejs") %>
      <div class="homeProduxBox">
        <%- include("../partials/productGroup.ejs", { productos,
        title}) %>
      </div>
      <%- include("../partials/categoriesMenu.ejs") %>
    </main>
    <%- include("../partials/footer") %>
  </body>
  <script>
    function imagenError(source) {
      source.src = '/img/not_found.png'
      source.onerror = ''
      return true
    }
  </script>
</html>
