<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %> 
<body>
    <div>
        <%- include("../partials/header.ejs", {showBar:false}) %> 
        <main>
            <div class="red"></div>
            <div class="register">
                <h1>¡Registrate!</h1>
                
                <form class="form-register" action="/register" method="POST">
                    <% if (locals.msgExito) { %>
                        <p class="success-text"><%= msgExito %> </p>
                    <% } %>
                    <input  class="register-input" type="text" name="usuario" placeholder="Tu nombre" value="<%= locals.old && old.usuario? old.usuario : "" %>"></input>
                    <% if (locals.errors && locals.errors["usuario"]) { %>
                        <p class="warning-text"><%= errors["usuario"].msg %> </p>
                    <% } %>
                    <input  class="register-input" type="email" name="email" placeholder="Tu email" value="<%= locals.old && old.email? old.email : "" %>"></input>
                    <% if (locals.errors && locals.errors["email"]) { %>
                        <p class="warning-text"><%= errors["email"].msg %> </p>
                    <% } %>
                    <input  class="register-input" type="text" name="password" placeholder="Tu contraseña"></input>
                    <% if (locals.errors && locals.errors["password"]) { %>
                        <p class="warning-text"><%= errors["password"].msg %> </p>
                    <% } %>
                    <button class="register-button" type="submit">Crear cuenta</button>
                </form>
            </div>
            <a href="/login"><p class="texto-register">¿Ya tienes cuenta? <span class="underline">Inicia Sesión</span></p></a>
        </main>
    </div>
    <%- include("../partials/footer.ejs") %> 
</body>
</html>