<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="./styles/styles.css" />
    </head>
    <body>
        <% let price, priceTotal = 0, cant = 1 %>
        <section class="cart">
            <a class="back-button" href="/">
                <i class="fas fa-arrow-left"></i> Volver
            </a>
            <p class="title-cart">Productos en tu Carrito</p>
            <% productos.forEach(producto => { %>
            <article class="article-cart">
                <div class="product-cart">
                    <img
                        src="<%= producto.img %>"
                        class="img-cart"
                        id="producto-<%= producto.id %>"
                    />
                    <p><%= producto.name %></p>
                </div>
                <div class="manage-cart">
                    <button class="delete-button">Quitar</button>
                    <div class="cant-bar">
                        <button class="edit-cant" id="minus-cant">
                            <i class="fas fa-minus"></i>
                        </button>
                        <p><%= cant %></p>
                        <button class="edit-cant" id="plus-cant">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                    <% price = cant * producto.price %>
                    <strong class="price-cart"
                        ><%= price.toLocaleString() %></strong
                    >
                    <% priceTotal += price %>
                </div>
            </article>
            <% }) %>
            <div class="points-cart">
                <p>Total de Puntos SuperClub</p>
                <strong class="price-total-cart"
                    ><%= priceTotal.toLocaleString() %>
                </strong>
            </div>
            <button class="buy-button">
                <a href="" class="link-button"> Ir a pagar</a>
            </button>
        </section>
    </body>
</html>
