<link rel="stylesheet" href="./styles/styles.css" />
<%- include("../partials/head.ejs") %> <%- include("../partials/header.ejs",
{showBar: true}) %>
<main>
  <%- include("../partials/categoriesMenu.ejs") %>
  <div>
    <h1>te puede interesar</h1>
    <%- include("../partials/productGrup.ejs", { productos: teinteresan}) %>
  </div>
  <div>
    <h1>Lo mas pedido</h1>
    <%- include("../partials/productGrup.ejs", { productos: lomaspedido}) %>
  </div>
  <%- include("../partials/categoriesMenu.ejs") %>
</main>
<%- include("../partials/footer.ejs") %>
