<!DOCTYPE html>
<html lang="en">
  <!-- <link rel="stylesheet" href="/styles/productID.css" /> -->
  <%- include('../partials/head') %>
  <body class="body">
    <%- include('../partials/header', {showBar: true}) %>
    <main class="homenico">
      <div class="ruta">
        <a href="/"><i class="fas fa-arrow-left"></i> Volver al listado</a>
        <a href="#"><i class="fas fa-chevron-right"></i> alimentos</a>
      </div>
      <section class="producto">
        <div class="mini-imgs">
          <img
            class="recortada"
            width="48px"
            height="48px"
            src="/img/havanna1.jpg"
          />
          <img
            class="recortada"
            id="marcada"
            width="48px"
            height="48px"
            src="/img/havanna2.jpg"
          />
          <img
            class="recortada"
            width="48px"
            height="48px"
            src="/img/havanna3.webp"
          />
        </div>
        <img src="/img/havanna2.jpg" class="imagengrande" />
        <div class="productodescripto">
          <div class="nombre">
            Alfajores Havanna <br />
            Chocolate 12 Unidades
          </div>
          <div class="puntoyprecio">
            <strong class="precio">19.900</strong>
            <div class="puntos">PUNTOS <br />SUPERCLUB</div>
          </div>
          <a href="/cart" class="btn-agregar">Agregar al Carrito</a>

          <div class="descripcion">
            <p>
              Voucher válido para una caja de 12 alfajores mixtos Havanna.<br />
              Para retirar el producto, sólo tenés que presentar el comprobante
              del canje en el local.<br />Recordá que tus comprobantes de canje
              siempre quedan guardados en la opción "Detalle de puntos".
            </p>

            <p>El voucher no es válido para delivery pero sí para Take away.</p>
            <p>No aplica para alfajores sabos "70 Cacao" o "Semilia".</p>
            <p>
              Consultá tus locales con take away en
              https://ticketbox.com.ar/sucursales/havanna.
            </p>
            <p>
              El canje del voucher se encuentra sujeto a disponibilidad del
              producto en el local.
            </p>
            <p>
              No combinable con otras promociones.Vigencia hasta 28/02/2022 o
              hasta agotar stock.
            </p>
          </div>
        </div>
      </section>
      <section>
        <%- include('../partials/productGroup', {productos:
        productos.slice(0,4),title:"También te puede interesar"}) %>
      </section>
      <%- include('../partials/categoriesMenu') %>
    </main>
    <%- include('../partials/footer')%>
  </body>
</html>
