<% if (! placeholder) { %>
<p>Se tiene que asignar un placeholder</p>
<% } else { %> <% if (type === "search") { %>
<div class="search-bar">
  <input
    type="<%= type %>"
    placeholder="<%= placeholder %>"
    class="search-bar-input"
  />
  <button class="search-bar-btn">
    <img src="svg/magnify.svg" />
  </button>
</div>
<% } else {%>
<input type="<%= type %>" placeholder="<%= placeholder %>" name="<%= name %>"/>
<% }} %>
